*{
	margin: 0;
	padding: 0;
}
#all{
	margin: 0 auto;
	width: 1280px;
	height: 1900px;
	border: 1px solid white;
	box-sizing: border-box;
}
@font-face{
	src:url(../font/Ko.otf);
	font-family: ppp;
}
a{
	text-decoration: none;
	color: gray;
}
a:hover{
	color: #537D9B;
}
.ul1{
	position: fixed;
	margin: 100px 40px;
	font-size: 18px;
}
.li{
	list-style: none;
	margin: 20px;
	width: 300px;
	height: 20px;
}
.li1,.li2,.li3,.li4,.li5,.li6{
	position: absolute;
	left: 0;
	transition: left 1s;
}
.li0{
	position: relative;
	top: -60px;
}
.li1{
	top: 50px;
}
.li2{
	top: 110px;
}
.li3{
	top: 170px;
}
.li4{
	top: 230px;
}
.li5{
	top: 290px;
}
.li6{
	top: 350px;
}
.li1:hover,.li2:hover,.li3:hover,.li4:hover,.li5:hover,.li6:hover{
	left: 60px;
	transform: scale(1.2);
}
.banner{
	float: right;
	margin-top: 60px;
}
.center{
	margin-top: 550px;
	font-family: ppp;
	color: gray;
	cursor: pointer;
}
.top,.bottom{
	margin-right: 30px;
}
.top div,.bottom div{
	
	font-size: 18px;
	width: 240px;
	text-align: center;
	float: right;
	margin: 30px;
}
.bottom{
	clear: both;
}
footer{
	position: relative;
	top: 60px;
	color: gray;
	clear: both;
	text-align: center;
}
.div:hover{
	color:  black;
	text-decoration: underline;
	opacity: 0.7;
}
.img{
	transition: all 0.5s;
}
.img:hover{
	transform: scale(1.1);
}